
.app-button
  background: none
  border-radius: 3px
  border: none
  cursor: pointer
  font-size: $size-6
  padding: 10px 15px
  transition: .2s box-shadow ease
  outline: none

  &:hover, &:active
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.55)

  &.is-primary
    color: $white-ter
    background-color: $primary

  &.is-secondary
    color: $white-ter
    background-color: $secondary

  &.is-link
    color: $grey-darker

    &:hover
      box-shadow: none
      text-decoration: underline

.app-add-note
  animation: pulse 2s infinite
  background: $primary
  border-radius: 50%
  border: none
  bottom: 20px
  color: $white-ter
  cursor: pointer
  line-height: 0
  outline: none
  padding: 12px 13.5px
  position: absolute
  right: 30px
  transition: .2s box-shadow ease

  &:hover
    animation: none
    box-shadow: 0 0 0 1px $primary
    color: $white-ter

  &:active
    animation: none
    box-shadow: 0 0 0 3px $primary
